<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Copyright © 2015 Miska Kaipiainen. Get <strong>express-github-docs</strong> from <a href="https://github.com/miskun/express-github-docs">GitHub.</a>
            </div>
        </div>
    </div>
</footer>