<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Documentation page template built for <a href="https://github.com/miskun/express-github-docs">Express Github Docs</a> by <a href="https://twitter.com/miskakai">@miskakai</a>.</p>
                <p>Get Express Github Docs from <a href="https://github.com/miskun/express-github-docs">GitHub.</a></p>
            </div>
        </div>
    </div>
</footer>