<!-- Navigation -->
<ul class="sidebar-nav">
    <li>
        <a href="#">Features</a>
    </li>
    <li>
        <a href="#">Features</a>
    </li>
    <li>
        <a href="#">Features</a>
    </li>
    <li>
        <a href="#">Features</a>
    </li>
    <li>
        <a href="#">Features</a>
    </li>
</ul>
