<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            {{> nav}}
        </div>
        <div class="col-md-9">
            {{{body}}}
        </div>
    </div>
</div>

{{> footer }}

</body>
</html>
